<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>

<head>
  <title th:text="Registration">User Login Page</title>
</head>

<body>

		<h1 th:text="${'User Registration'}">User Login Page</h1>

		<form th:action="@{/user/registration}" th:method="post" th:object="${userForm}" autocomplete="off">
			<div>
				<label>Email: </label>
				<input type="text" th:field="*{email}" autocomplete="false">
				<span th:errors="*{email}"></span>
			</div>

            <div>
                <label>Name: </label>
                <input type="text" th:field="*{name}" autocomplete="false">
                <span th:errors="*{name}"></span>
            </div>

			<div>
				<label>Password: </label>
				<input type="password" th:field="*{password}" autocomplete="false">
				<span th:errors="*{password}"></span>
			</div>

			<div class="form-group">
				<input type="submit" name="login-submit" id="login-submit"
					class="stdBtn" value="Log In">
			</div>
		</form>


</body>

</html>