
/* КЛАССЫ НАЧАЛЬНОЙ СТРАНИЦЫ */
.body{
    background: #639643 url("img/test.jpg");
    background-size: cover;
    width: calc(1840 / 1840 * 100%);
    height: 115vh;
    flex-wrap: wrap;
    margin: auto;
    display: inline-block;
}
.body a{display: inline}

.menu{
    background-color: #71af4e;
    top: 0;
    width: calc(1840 / 1840 * 100%);
    height: 10vh;
    display: flex;
    justify-content:center;
    position: fixed;
}

.submenu{
    display: flex;
    position: fixed;
    width: calc(1000 / 1840 * 100%);
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

a { text-decoration: none}
.name{
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw;
    min-height:4vh ;
    max-height: 4vh;
    height: 4vh;
    font-size: 1vw;
}
.name:hover{background-color: rgba(255, 255, 255, 0);}

.logo{
    width: 2vw;
    height: 4vh;
}
.logo:hover{background-color: rgba(255, 255, 255, 0);}

.accent{
    background-color: aliceblue;
    color: #639643;
    font-family: 'Ubuntu', sans-serif;
    padding: 1%;
    border: aliceblue;
    border-radius: 1vw;
    width: 8vw;
    min-width: 8vw;
    max-width: 8vw;
    min-height: 3vh ;
    max-height: 3vh;
    height: 3vh;
    font-size: 1vw;
    text-align: center;
}
.accent:hover{
    background-color: #ffffff;
    color: #71af4e;
    border-radius: 1vw;
}

.block{
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.2);
    padding: 1%;
    border: aliceblue;
    border-radius: 1vw;
    width: 6vw;
    min-width: 6vw;
    max-width: 6vw;
    min-height:3vh ;
    max-height: 3vh;
    height: 3vh;
    font-size: 1vw;
    text-align: center;
}
.block:hover{
    color: #ffffff;
    background-color: rgba(240, 248, 255, 0.49);
    padding: 8px;
    border: aliceblue;
    border-radius: 1vw;
}

.dropdownMenu {

    display: inline-block;
    width: 6vw;
    min-width: 6vw;
    max-width: 6vw;
    min-height:10vh ;
    max-height: 10vh;
    height: 10vh;
    align-items: center;
    font-size: 1vw;
}

.menubtn {
    background-color: #71af4e;
    padding: 1%;
    border: rgba(240, 248, 255, 0);
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    min-width: 6vw;
    max-width: 6vw;
    width: 6vw;
    min-height:10vh ;
    max-height: 10vh;
    height: 10vh;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

}

.img{
    border-radius: 100%; /* Радиус скругления */
    width: 4vw;
    min-width: 4vw;
    max-width: 4vw;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.dropdownMenu-content {
    display: none;
    position: static;
    background-color: aliceblue;
    padding: 1%;
    border-radius: 0 1% 1% 1%;
    min-width: 10vw;
    max-width: 10vw;
    width: 10vw;
    min-height:18vh ;
    max-height: 18vh;
    height: 18vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
    justify-content: left;
}
.dropdownMenu-content a {
    color: #344f21;
    padding: 8.5% 9%;
    text-decoration: none;
    display: block;
    background-color: rgba(255, 20, 147, 0);
    width: 8vw;
    min-width: 8vw;
    max-width: 8vw;
    min-height: 3vh ;
    max-height: 3vh;
    height: 3vh;
    font-size: 1vw;
}
a:hover{background-color: #bbbec4; border:#bbbec4; border-radius: 5px }
.dropdownMenu:hover .dropdownMenu-content {
    display: block;
    position: fixed;
}
.dropdownMenu:hover .menubtn {
    background-color: aliceblue;
    border: aliceblue;
    border-radius: 5px 5px 0 0;
    min-width: 6vw;
    max-width: 6vw;
    width: 6vw;
    min-height:10vh ;
    max-height: 10vh;
    height: 10vh;
    align-items: center;
    justify-content: center;
}


.main{
    display: flex;
    position: fixed;
    top: 35vh;
    left: 24vw;
}

.subMain {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: #ffffff10;
    border-radius: 10px;
    display: flex;
    position: fixed;
    width: 50vw;
    min-width: 50vw;
    max-width:50vw;
    min-height:35vh ;
    max-height: 35vh;
    height: 35vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#text1 {
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    font-size: 2vw;
    padding: 10%;
    text-align: center;
}

#text2 {
    display: flex;
    position: fixed;
    top: 23vh;
    background-color: aliceblue;
    color: #639643;
    padding: 2%;
    border: aliceblue;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    width: 10vw;
    min-width: 10vw;
    max-width:10vw;
    min-height:4vh ;
    max-height: 4vh;
    height: 4vh;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
}
#text2:hover{background-color: #ffffff;
    color:#71af4e }

.footer {
    background-color: aliceblue;
    width: calc(1840 / 1840 * 100%);
    position: absolute;
    top: 105%;
    height: 15vh;
    display: flex;
    justify-content:center;
}

.subFooter{
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
    width: 95%;
}
.info {
    font-family: 'Ubuntu', sans-serif;
    color: #344f21;
    white-space: normal;
    display: inline-block;
    width: 20vw;
    vertical-align: top;
    font-size: 2.5vh;
}
.info1 {
    font-family: 'Ubuntu', sans-serif;
    color: #344f21;
    white-space: normal;
    display: inline-block;
    width: 10vw;
    vertical-align: top;
    font-size: 2.5vh;
}
.info1:hover{background-color: aliceblue}

#img1 {
    width: 1.8vw;
    display: flex;
    position: center;
    margin: 1vw ;
}

/* КЛАССЫ ПОИСКА ИГР */

.gameBody{
    background: #e4e7ea;
    background-size: cover;
    width: calc(1840 / 1840 * 100%);
    height: 115vh;
    flex-wrap: wrap;
    margin: auto;
    display: inline-block;
}
.gameBody a{display: inline}

.gameMenu{
    background-color: aliceblue;
    top: 0;
    width: calc(1840 / 1840 * 100%);
    height: 10vh;
    display: flex;
    justify-content:center;
    position: fixed;
    z-index: 1;
}

.gameName {
    color: #344f21;
    font-family: 'Ubuntu', sans-serif;
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw;
    min-height:4vh ;
    max-height: 4vh;
    height: 4vh;
    font-size: 1vw;
}
.gameName:hover{background-color: rgba(255, 255, 255, 0);}

.gameAccent {
    background-color: #71af4e;
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    padding: 1%;
    border: #71af4e;
    border-radius: 1vw;
    width: 8vw;
    min-width: 8vw;
    max-width: 8vw;
    min-height: 3vh ;
    max-height: 3vh;
    height: 3vh;
    font-size: 1vw;
    text-align: center;
}
.gameAccent:hover{
    background-color: #7bc256;
    color: aliceblue;
    border-radius: 1vw;
}

.gameBlock {
    font-family: 'Ubuntu', sans-serif;
    color: #344f21;
    background-color: rgba(240, 248, 255, 0.2);
    padding: 1%;
    border: aliceblue;
    border-radius: 1vw;
    width: 6vw;
    min-width: 6vw;
    max-width: 6vw;
    min-height:3vh ;
    max-height: 3vh;
    height: 3vh;
    font-size: 1vw;
    text-align: center;
}
.gameBlock:hover{
    color: #565555;
    background-color: #d5d7e0;
    padding: 1%;
    border: aliceblue;
    border-radius: 1vw;
}

.gameDropdownMenu {
    display: inline-block;
    width: 6vw;
    min-width: 6vw;
    max-width: 6vw;
    min-height:10vh ;
    max-height: 10vh;
    height: 10vh;
    align-items: center;
    font-size: 1vw;
}

.gameMenubtn {
    background-color: rgba(240, 248, 255, 0);
    color: #639643;
    padding: 1%;
    border: rgba(240, 248, 255, 0);
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    min-width: 6vw;
    max-width: 6vw;
    width: 6vw;
    min-height:10vh ;
    max-height: 10vh;
    height: 10vh;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.gameDropdownMenu-content {
    display: none;
    position: static;
    background-color: aliceblue;
    padding: 1%;
    border-radius: 0 1% 1% 1%;
    min-width: 10vw;
    max-width: 10vw;
    width: 10vw;
    min-height:18vh ;
    max-height: 18vh;
    height: 18vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
    justify-content: left;
}

.gameDropdownMenu-content a{
    color: #344f21;
    padding: 8.5% 9%;
    text-decoration: none;
    display: block;
    background-color: rgba(255, 20, 147, 0);
    width: 8vw;
    min-width: 8vw;
    max-width: 8vw;
    min-height: 3vh ;
    max-height: 3vh;
    height: 3vh;
    font-size: 1vw;
}
a:hover{background-color: #bbbec4; border:#bbbec4; border-radius: 5px }

.gameDropdownMenu:hover .gameDropdownMenu-content {display: block; position: fixed; }
.gameDropdownMenu:hover .gameMenubtn {
    background-color: aliceblue;
    border: aliceblue;
    border-radius: 5px 5px 0 0;
    min-width: 6vw;
    max-width: 6vw;
    width: 6vw;
    min-height:10vh ;
    max-height: 10vh;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.gameMain{
    display: flex;
    position: absolute;
    top: 20vh;
    left: 24.5vw;
    flex-flow: column;
}

.gameSubMain1 {
    background-color: aliceblue;
    display: flex;
    width: 45.5vw;
    max-width: 45.5vw;
    min-width: 45.5vw;
    height: 12vh;
    max-height: 12vh;
    min-height: 12vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin: 0 0 2px 0;
    border-radius: 5px;
    border: rgba(240, 248, 255, 0);
}

.gameSubMain2 {
    background-color: aliceblue;
    display: flex;
    width: 45.5vw;
    max-width: 45.5vw;
    min-width: 45.5vw;
    height: 14vh;
    max-height: 14vh;
    min-height: 14vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    border-radius: 5px;
    border: rgba(240, 248, 255, 0);
    margin: 0 0 1px 0;
    font-size: 1vw;
    text-align: center;
}

.default {
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;
    color: #344f21;
    font-size: 3vh;
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw;
    min-height:4vh ;
    max-height: 4vh;
    height: 4vh;
    text-align: center;
}

.imgPlus{
    border-radius: 100px; /* Радиус скругления */
    width: 5vw;
    min-width: 5vw;
    max-width: 5vw;
    height: 11vh;
    max-height: 11vh;
    min-height: 11vh;
    margin: 0;
}


.playerName{
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;
    color: #639643;
    font-size: 3vh;
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw;
    min-height:4vh ;
    max-height: 4vh;
    height: 4vh;
    text-align: center;
    border-radius: 1vw;
    padding: 1vw;
}
.playerName:hover{
    background-color: #e1e9ef;
    border-radius: 1vw;

}

.hiddenDelete{
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;
    color: rgba(240, 248, 255, 0);
    background-color: rgba(220, 20, 60, 0);
    font-size: 3vh;
    padding: 1vw;
    border: rgba(220, 20, 60, 0);
    border-radius: 1vw;
    width: 8vw;
    min-width: 8vw;
    max-width: 8vw;
    min-height:4vh ;
    max-height: 4vh;
    height: 4vh;
    text-align: center;
}
.hiddenDelete:hover{
    color: aliceblue;
    background-color: crimson;
    border: crimson;
}

.profileMain{
    display: flex;
    position: absolute;
    top: 21vh;
    left: 21.5vw;
    flex-flow: column;
}

.profileImg{
    border-radius: 100%; /* Радиус скругления */
    box-shadow: 0 0 7px rgba(102, 102, 102, 0); /* Параметры тени */
    width: 13vw;
    min-width: 13vw;
    max-width: 13vw;


}

.profileMain1{
    display: flex;
    width: 38vw;
    min-width: 38vw;
    max-width: 38vw;
    min-height:25vh ;
    max-height: 25vh;
    height: 25vh;
    flex-flow: column;
    justify-content: space-between;

}

.profileMain2 {
    display: flex;
    width: 40vw;
    height: 10vh;
    justify-content: space-between;
    padding: 2vh;
    text-align: center;
    align-items: end;
}

.profileName{
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;
    color: #344f21;
    font-size: 5vh;
    padding: 1vh;
}

.profileMainColumn{

    display: flex;
    position: absolute;
    top: 20vh;
    left: 35.5vw;
    width: 42vw;
    height: 50vh;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 1vw;
}

.defaultFixed {
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;
    color: #344f21;
    font-size: 3vh;
    width: 10vw;
    min-width: 10vw;
    max-width: 10vw;
    min-height:4vh ;
    max-height: 4vh;
    height: 4vh;
    padding: 1vh;
    text-align: center;
    background-color: #bbbec4;
    border: #bbbec4;
    border-radius: 1vw;
}
