<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Друзья</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body class="gameBody">
<div class="gameMenu">
  <div class="submenu">
    <a th:href="@{/}" class="gameName"><img class = logo th:src="@{/img/gameLogo.png}">Carcassonne Online</a>
    <a th:href="@{/gameLobby}" class="gameAccent">ПОИСК ИГР</a>
    <a th:href="@{/friends}"class="gameBlock" >Друзья</a>
    <a href="#cont" class="gameBlock">Контакты</a>
    <div class="gameDropdownMenu">
      <button class="gameMenubtn"><img class="img" th:src="@{/img/avatar.jpg}"></button>
      <div class="gameDropdownMenu-content">
        <a th:href="@{/profile}" th:text="${currentName}">Иванов Иван</a>
        <a href="#" th:text="${currentRating}">Рейтинг - 0</a>
        <a class="logout" href="#" th:href="@{/logout}">Выйти</a>
      </div>
      <div class="dropdownMenu-content" sec:authorize="isAnonymous()">
        <a class="logout" href="#" th:href="@{/user/registration}">Registration</a>
        <a class="logout" href="#" th:href="@{/login}">Login</a>
      </div>
    </div>
  </div>
</div>
<div class="gameMain">
  <div class="gameSubMain1">
    <div id="findButton" class="findButton"> Поиск </div>
    <div><input id="findField" type="text" autocomplete="off" class="finder"></div>
  </div>
  <div class="gameSubMain1">
    <div class="default"> Друзья </div>
    <a class="playerName" th:href="@{/profile}" th:text="${currentName}">Иванов Иван</a>
  </div>

    <div class="gameSubMain2" th:each="friend: ${friendList}">
      <img class="imgPlus" th:src="@{/img/gameLogo.png}">
      <a class="playerName" th:id="${friend.getId}" th:href="@{/id{id}(id=${friend.getId})}" th:text="${friend.getName}" > Имя</a>
      <div class="default" th:utext="'Рейтинг: ' +${friend.getRating}">Рейтинг:100</div>
      <div class="hiddenDelete">Удалить</div>
    </div>

</div>
<script th:src="@{/js/FriendList.js}"></script>
</body>
</html>