<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>

    <title>Друзья</title>
  <script th:src="@{/js/FriendList.js}"></script>
</head>
<body class="gameBody">
<th:block layout:fragment="content">
<div class="gameMain" id="gameMain">
  <div class="gameSubMain1">
    <div id="findButton" class="findButton"> Поиск </div>
    <div><input id="findField" type="text" autocomplete="off" class="finder"></div>
  </div>
  <div class="gameSubMain1">
    <div class="default"> Друзья </div>
    <a class="playerName" th:href="@{/profile}" th:text="${currentName}">Иванов Иван</a>
  </div>

    <div class="gameSubMain2" th:each="friend: ${friendList}">
      <img class="imgPlus" th:src="@{/img/gameLogo.png}">
      <a class="playerName" th:id="${friend.getId}" th:href="@{/id{id}(id=${friend.getId})}" th:text="${friend.getName}" > Имя</a>
      <div class="default" th:utext="'Рейтинг: ' +${friend.getRating}">Рейтинг:100</div>
    </div>

</div>
</th:block>

</body>
</html>