<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Друзья</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body class="gameBody">
<div class="gameMenu">
  <div class="submenu">
    <a th:href="@{/}" class="gameName"><img class = logo th:src="@{/img/gameLogo.png}">Carcassonne Online</a>
    <a th:href="@{/gameLobby}" class="gameAccent">ПОИСК ИГР</a>
    <a th:href="@{/friends}"class="gameBlock" >Друзья</a>
    <a href="#cont" class="gameBlock">Контакты</a>
    <div class="gameDropdownMenu">
      <button class="gameMenubtn"><img class="img" th:src="@{/img/avatar.jpg}"></button>
      <div class="gameDropdownMenu-content">
        <a th:href="@{/profile}">Иванов Иван</a>
        <a href="#">Рейтинг - 0</a>
        <a href="#">Выйти</a>
      </div>
    </div>
  </div>
</div>
<div class="gameMain">
  <div class="gameSubMain1">
    <div class="default"> Друзья </div>
    <a class="playerName">Иванов Иван</a>
  </div>
  <div class="gameSubMain2">
    <img class="imgPlus" th:src="@{/img/playerAvatar1.jpg}">
    <a class="playerName"> Stasya.1t</a>
    <div class="default">Рейтинг:100</div>
    <div class="hiddenDelete">Удалить</div>
  </div>
  <div class="gameSubMain2">
    <img class="imgPlus" th:src="@{/img/playerAvatar2.jpg}">
    <a class="playerName"> ildarerer</a>
    <div class="default">Рейтинг:100</div>
    <div class="hiddenDelete">Удалить</div>
  </div>
  <div class="gameSubMain2">
    <img class="imgPlus" th:src="@{/img/playerAvatar3.jpg}">
    <a class="playerName"> Tetra</a>
    <div class="default">Рейтинг:100</div>
    <div class="hiddenDelete">Удалить</div>
  </div>
  <div class="gameSubMain2">
    <img class="imgPlus" th:src="@{/img/playerAvatar4.jpg}">
    <a class="playerName"> Tochnoneyura</a>
    <div class="default">Рейтинг:100</div>
    <div class="hiddenDelete">Удалить</div>
  </div>
</div>

<div id="cont" class="footer">
  <div class="subFooter">
    <div class="info">Сайт разработан в учебных целях в рамках РГР по дисциплине "Технологии и методы программирования"</div>
    <div class="info1">Разработчики Максутов Ильдар Бахмацкий Юрий Иванов Максим</div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQinfo1" target="_blank" class="info1">Соцсети<img id="img1" th:src="@{/img/vk.png}"> </a>
  </div>
</div>
</body>
</html>