<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>

    <title>Поиск игр</title>

</head>
<body class="gameBody">
<th:block layout:fragment="content">
    <div class="gameMain">
        <div class="gameSubMain1">
            <div class="default">Ожидают игры</div>
            <a th:href="@{/createRoom}" class="findButton">Создать игру</a>
        </div>
        <div class="gameSubMain2" th:each="room: ${roomsList}">
            <label class="default" th:text="${room.getName}">  </label>
            <div class="default" th:text="'Игроков:'+${room.getUsersInRoom}+'/'+${room.getMaxSize}"> </div>
            <div ><a th:href="@{/room{id}(id=${room.getId})}"><img class="imgPlus" th:src="@{/img/plus.png}" ></a>
            </div>

        </div>
    </div>
</th:block>


</body>
</html>