<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Профиль</title>
    <script th:src="@{/js/addFriend.js}"></script>
    <script sec:authorize="hasAuthority('ADMIN')" th:src="@{/js/ban.js}"></script>
</head>
<body th:id="${id}"  class="gameBody">
<th:block layout:fragment="content">
<div class="profileMainColumn">
    <div class="profileMain1">
        <div class="profileName" th:utext="${name}">Иван Иванов</div>
        <div class="default" th:utext="${rating}">Рейтинг - 0</div>
        <div >
            <button id="addFriendBtn" th:disabled="${disable}" th:text="${isFriend}" >Добавить в друзья</button>

        </div>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a  id="BanUser" class="Delete">Заблокировать пользователя</a>
    </div>
    <div class="profileMain2">
        <div class="defaultFixed" th:utext="${gamesCount}">Игр сыграно: 0</div>
        <div class="defaultFixed" th:utext="${wins}">Побед: 0</div>
        <div class="defaultFixed" th:utext="${friends}">Друзей: 4</div>
    </div>
</div>
</th:block>



</body>
</html>